*{
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
 
 background: linear-gradient(135deg, #1a2a6c, #b21f1f, yellow);
 color: #fff;
}
body{
  background-color:linear-gradient(50deg,black,white);
  color: blue;
}
h1{
margin-top:70px;
text-align:center;
padding-top: 70px;
font-size: 50px;
}

.search{
  
  text-align: center;
  height:50px;
  width:100%;
  margin-right:auto;
  margin-left: auto;
  align-items: center;
  padding-top:20px;
}
input{
  height:40px;
  width:60%;
  border-radius:10px;
  font-size:20px;
}
button{
  height: 40px;
  border-radius:7px;
  width:40px;
} 

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  background-color: #f0f0f0;
    padding: 20px;
    margin: 10px auto;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie p {
  color: rgba(255, 255, 255, 0.8);
}
.movie h3 {
  color: rgba(255, 255, 255, 0.8);
}